<header id="footer" class="footer">
  <div class="site-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          Find me in snippets/footer.liquid
        </div>
      </div>
    </div>
  </div>
</header>
