<header id="header" class="header">
  <div class="site-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          Find me in snippets/header.liquid
        </div>
        <div class="col">
          <a href="{{ routes.root_url }}">
            {{ shop.name }}
          </a>
        </div>
        <div class="col">
          {% render 'menu', handle: 'main-menu' %}
        </div>
      </div>
    </div>
  </div>
</header>
