<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        Find me in templates/list-collections.liquid
      </div>
    </div>
  </div>
</div>
