<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        Find me in templates/product.liquid
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if product.images.size > 0 %}
          {% for image in product.images %}
            <img src="{{ image.src | image_url: width: 1000 }}" alt="{{ image.alt | escape }}">
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-md-6">
        <h1>{{ product.title }}</h1>
        {% assign product_form_id = 'product-form-pdp' %}
        {% if product.variants.size > 1 %}
          {% render 'product-variant-picker', product: product, product_form_id: product_form_id, picker_type: 'button' %}
        {% endif %}
        {% render 'product-form', product: product, product_form_id: product_form_id %}
      </div>
    </div>
  </div>
</div>

{% render 'schema-product', product: product %}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
